/*Màu*/
$color-main: #02b3e4; //Tông màu chính của trang
$color-white: #ffffff; //Màu trắng

$color-fontNavbar:rgb(64, 64, 64); //Màu chữ navbar

/*Text shadow*/ 
$color-shadow: rgb(235, 160, 128);

/*Chiều rộng*/
$width-logo: 180px; //Chiều rộng ảnh logo

/*Chiều cao*/
$heigh-navbar: 60px; //Chiều cao navbar

/*Carousel*/

/*Font chữ*/
$font-main: 'Source Sans Pro', sans-serif;

/*Font-Size*/
$fs-main: 18px;